<form method="post" action="{{ path('gift_delete', {'id': gift.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ gift.id) }}">
    <button class="btn"
            {% if (gift.personnes.count!= 0) %}
                onclick="return false;"
                style="color: red"
                title="Impossible to delete this gift, someone still has it on his wish list"
            {% endif %}
    >Delete</button>
</form>
