{% extends 'base.html.twig' %}

{% block title %}Gift index{% endblock %}

{% block body %}
    <h1>Gift index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Designation</th>
                <th>Minimum_age</th>
                <th>Average_price</th>
                <th>Category</th>
                <th>Actions</th>
                <th>Parity (percentage of women)</th>
                <th>list of age-inappropriate persons</th>
            </tr>
        </thead>
        <tbody>
        {% for gift in gifts %}
            <tr>
                <td>{{ gift.id }}</td>
                <td>{{ gift.description }}</td>
                <td>{{ gift.designation }}</td>
                <td>{{ gift.minimumAge }}</td>
                <td>{{ gift.averagePrice }}</td>
                <td>{{ gift.category.name }}</td>
                <td>
                    <a href="{{ path('gift_show', {'id': gift.id}) }}">Show</a>
                    <a href="{{ path('gift_edit', {'id': gift.id}) }}">Edit</a>
                    {{ include('gift/_delete_form.html.twig') }}
                </td>
                <td>{{ gift.parity() }}% on {{ gift.getTotalPeoples() }} people(s)</td>
                <td><a href="{{ path('gift_list_age_inap', {'id': gift.id}) }}">List</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('gift_new') }}">Create new</a>
{% endblock %}
