<form method="post" action="{{ path('category_delete', {'id': category.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
    <button class="btn"
            {% if (category.gifts.count != 0) %}
                onclick="return false;"
                style="color: red"
                title="Impossible to delete this category, some games are still in it"
            {% endif %}
    >Delete</button>
</form>
