{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1>Category index</h1>

    <br>
    <h3>Search by age range</h3>
    <form class="pull-right hidden" role="search" id="nav-search-form" method="post" action="{{ path('_search_by_age_range') }}">
        <div class="input-group">
            <input type="number" class="form-control" placeholder="10" name="min"  required>
            <input type="number" class="form-control" placeholder="50" name="max" min="min" required>
            <button type="submit" class="btn">Search</button>
        </div>
    </form>
    <br>
    <a href="{{ path('category_index') }}">reset</a>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
                <th>average price in this category</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('category_show', {'id': category.id}) }}">show</a>
                    <a href="{{ path('category_edit', {'id': category.id}) }}">edit</a>
                    {{ include('category/_delete_form.html.twig') }}
                </td>
                <td>{{ category.averagePrice() }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('category_new') }}">Create new</a>
{% endblock %}
