{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Category</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ category.name }}</td>
            </tr>
        </tbody>
    </table>
    <br>

    {% if message is defined %}
        <h1 style="color: green">{{ message }} for {{ value }}%</h1>
    {% endif %}

    <form class="pull-right hidden" role="search" id="nav-search-form" method="post" action="{{ path('category_prise', {'id_category': category.id}) }}" onsubmit="return confirm('Are you sure you want to update all gifts prices of this category?');">
        <thead>
            <tr>
                <th>Increase all prices as a percentage</th>
            </tr>
        </thead>
        <div class="input-group">
            <input type="number" class="form-control" placeholder="-10" name="value" required>%
            <button type="submit" class="btn">Done</button>
        </div>
    </form>
    <br>

    <a href="{{ path('category_index') }}">back to list</a>

    <a href="{{ path('category_edit', {'id': category.id}) }}">edit</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
