{% extends 'base.html.twig' %}

{% block title %}Personne index{% endblock %}

{% block body %}
    <h1>Personne index</h1>

    <form class="pull-right hidden" role="search" id="nav-search-form" method="post" action="{{ path('personne_search') }}">
        <thead>
            <tr>
                <th>Search by street and zip-code</th>
            </tr>
        </thead>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Boulevard de Dury*" name ="search_street" required>
            <input type="text" class="form-control" placeholder="80000*" name ="search_zip_code" required>
            <button type="submit" class="btn">Search</button>
        </div>
        <span>
                fields marked with * are mandatory
            </span>
    </form>

    <form action={{ path('personne_index') }}>
        <input type="submit" value="Reset" />
    </form>

    {% if message is defined %}
        <h2 style="color: red">{{ message }}</h2>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name Surname</th>
                <th>Gender</th>
                <th>Date of Birth</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for personne in personnes %}
            <tr>
                <td>{{ personne.id }}</td>
                <td>{{ personne.nameSurname }}</td>
                <td>{{ personne.sex }}</td>
                <td>{{ personne.dateOfBirth ? personne.dateOfBirth|date('Y-m-d') : '' }}</td>
                <td>

                    <a href="{{ path('personne_show', {'id': personne.id}) }}">show</a>
                    <a href="{{ path('personne_wish_list', {'id': personne.id}) }}">wish List</a>
                    {% if app.user.roles is defined %}
                        {% if "ROLE_SECRETARIAT" in app.user.roles %}
                            <a href="{{ path('personne_edit', {'id': personne.id}) }}">edit</a>
                            {{ include('personne/_delete_form.html.twig') }}
                        {% endif %}
                    {% endif %}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if app.user.roles is defined %}
        {% if "ROLE_SECRETARIAT" in app.user.roles %}
            <a href="{{ path('personne_new') }}">Create new</a>
        {% endif %}
    {% endif %}
{% endblock %}
