{% extends 'base.html.twig' %}

{% block title %}Personne{% endblock %}

{% block body %}
    <h1>Personne</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ personne.id }}</td>
        </tr>
        <tr>
            <th>Name_surname</th>
            <td>{{ personne.nameSurname }}</td>
        </tr>
    </table>
    <br>
    <br>

    <h1>Wish List</h1>

    Add gift to the wish list :
    {% if message is defined %}
        <h3 style="color: red">{{ message }}</h3>
    {% endif %}
    <form class="pull-right hidden" role="search" id="nav-search-form" method="post" action="{{ path('_add', {'id': personne.id}) }}">
        <div class="input-group">
            <label>
                <input type="text" class="form-control" placeholder="Monopoly" name ="add" required="required">
            </label>
            <button type="submit" class="btn">add</button>
        </div>
    </form>
    <br>
    <br>

    {% for gift in gifts %}
        <li>
            <td>{{ gift.designation }}</td>
                <a href="{{ path('gift_show', {'id': gift.id}) }}">show</a>
                <form class="pull-right hidden" role="search" id="nav-search-form" method="post" action="{{ path('_delete_gift', {'id_gift': gift.id, 'id_personne': personne.id }) }}">
                        <button type="submit" class="btn">remove</button>
                </form>
        </li>
        <br>
    {% else %}
        <tr>
            <td colspan="6">no records found</td>
        </tr>
    {% endfor %}

    <br>
    <br>
    <br>

    <a href="{{ path('personne_index') }}">back to list</a>
{% endblock %}
