{% extends 'base.html.twig' %}

{% block title %}Personne{% endblock %}

{% block body %}
    <h1>Personne</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ personne.id }}</td>
            </tr>
            <tr>
                <th>Name_surname</th>
                <td>{{ personne.nameSurname }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ personne.sex }}</td>
            </tr>
            <tr>
                <th>Date_of_birth</th>
                <td>{{ personne.dateOfBirth ? personne.dateOfBirth|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>
    <br>

    <h1>Address</h1>
    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ address.id }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ address.city }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ address.number }}</td>
            </tr>
            <tr>
                <th>Zip Code</th>
                <td>{{ address.zipCode }}</td>
            </tr>
            <tr>
                <th>Street</th>
                <td>{{ address.street }}</td>
            </tr>
        </tbody>
    </table>

    <br>

    <a href="{{ path('personne_index') }}">back to list</a>

    {% if app.user.roles is defined %}
        {% if "ROLE_SECRETARIAT" in app.user.roles %}
            <a href="{{ path('personne_edit', {'id': personne.id}) }}">edit</a>
            {{ include('personne/_delete_form.html.twig') }}
        {% endif %}
    {% endif %}

{% endblock %}
