<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        {% if app.user.roles is defined %}
            - <a href="{{ path('app_logout') }}">Logout</a>
        {% else %}
            - <a href="{{ path('app_login') }}">Login</a>
        {% endif %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
    <footer>
            <ul>

                {% if app.user.roles is defined %}
                    {% if "ROLE_GESTION" in app.user.roles %}
                        <a href="{{ path('category_index') }}">Categories</a>
                        - <a href="{{ path('gift_index') }}">Gifts</a>
                    {% endif %}
                {% endif %}

                - <a href="{{ path('personne_index') }}">Persons</a>

                {% if app.user.roles is defined %}
                    {% if "ROLE_SECRETARIAT" in app.user.roles %}
                        - <a href="{{ path('address_index') }}">Addresses</a>
                    {% endif %}
                {% endif %}
            </ul>
            Bastien LEMESLE - Université de Picardie Jules Verne
    </footer>
</html>

<style>
    a {
        color: green;
    }

    td {
        text-align:center;
        border: solid black 1px;
    }
</style>
