<form method="post" action="{{ path('address_delete', {'id': address.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ address.id) }}">
    <button class="btn"
            {% if (address.personnes.count!= 0) %}
                onclick="return false;"
                style="color: red"
                title="Impossible to delete this address, someone is still living in it"
            {% endif %}
    >Delete</button>
</form>
