{% extends 'base.html.twig' %}

{% block title %}Address index{% endblock %}

{% block body %}
    <h1>Address index</h1>

    <br>
    <h3>Search by city</h3>
    <form class="pull-right hidden" role="search" id="nav-search-form" method="post" action="{{ path('_search') }}">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Amiens" name ="search" required>
            <button type="submit" class="btn">Search</button>
        </div>
    </form>
    <br>
    <a href="{{ path('address_index') }}">reset</a>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Street</th>
                <th>Number</th>
                <th>Zip_code</th>
                <th>City</th>
                <th>number of inhabitants</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for address in addresses %}
            <tr>
                <td>{{ address.id }}</td>
                <td>{{ address.street }}</td>
                <td>{{ address.number }}</td>
                <td>{{ address.zipCode }}</td>
                <td>{{ address.city }}</td>
                <td>{{ address.personnes.count }}</td>
                <td>
                    <a href="{{ path('address_show', {'id': address.id}) }}">show</a>
                    <a href="{{ path('address_edit', {'id': address.id}) }}">edit</a>
                    {{ include('address/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('address_new') }}">Create new</a>

{% endblock %}
